html, body, #root {
  height: 100%;
  width: 100%;
  text-align: center;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  border-bottom: 2px solid #333;
  padding: 10px 0;
}

main {
  height: 100%;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

footer {
  border-top: 2px solid #333;
  padding: 5px 0;
  width: 100%;
}

.contents {
  flex-grow: 1;
  align-content: center;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 370px;
    article {
      h2 {
        margin-bottom: 20px;
      }
    }
    .buttonsWrapper {
      width: 100%;
      display: flex;
      gap: 10px;
      flex-direction: column;
      align-items: center;
    }
  }
}

ul {
  text-align: left;
  margin-left: 20px;
  li {
    margin-bottom: 5px;
  }
}

button {
  width: calc(100% - 40px);
  max-width: 200px;
  padding: 5px; 
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50px;
  text-transform: capitalize;
  border: 2px solid #333;
  color: #333;
  background-color: transparent;
  &:hover {
    background-color: #a2dd9a;
  }
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, 1fr);
  padding: 40px 50px;
}

.tile {
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 2em;
  cursor: pointer;
  &:nth-child(5) {
    background-color: #ffef99;
  }
  &.selected {
    background: #b6e5f7;
  }
}

.game {
  h1 {
    min-height: 50px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
}

.iconWrapper {
  max-width: 40px;
  max-height: 40px;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  &:hover {
    padding: 6px;
    max-width: 48px;
    max-height: 48px;
  }
}

input {
  padding: 5px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #333;
  font-size: 20px;
  text-align: center;
  width: 60%;
}

.playerScoresWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
  .playerScore {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid black;
    padding: 10px;
    position: relative;
    h6 {
      position: absolute;
      top: -30px;
      background: #a2dd9a;
      border-radius: .4em;
      padding: 8px;
      color: white;
      &::after {
        content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 0;
          border: 10px solid transparent;
          border-top-color: #a2dd9a;
          border-bottom: 0;
          margin-left: -10px;
          margin-bottom: -9px;
      }
    }
  }
}

.errorPopup {
  background: #ff5d5d;
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 60px);
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
}

.textCorrect {
  color: #a2dd9a;
  animation: fadeOut 1.5s;
}

.textWrong {
  color: #ff5d5d;
}

.correct {
  background: #a2dd9a !important;
}

.wrong {
  background: #ff5d5d !important;
}

.hidden {
  visibility: hidden;
}

@keyframes fadeOut {
  0% {
    opacity: 1
  }
  80% {
    opacity: 1
  }
  100% {
    opacity: 0
  }
}

