@font-face {
  font-family: "RobotoSlab";
  src: url("./assets/fonts/RobotoSlab.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  -webkit-user-select: none;
  font-family: "RobotoSlab", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  outline: none;
}

:root {
  color: #242424;
  background-color: #fffae4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}